<h1>User Page</h1>
<br>
<table class="table table-success table-striped">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Book Number</th>
            <th scope="col">Book name</th>
            <th scope="col">Issued date</th>
            <th scope="col">return date</th>
           
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>1</td>
            <td>Science</td>
            <td>12-03-1998</td>
            <td>12-04-1998</td>

          </tr>
          <tr >
            <td>2</td>
            <td>Hiindi comm</td>
            <td>1-03-1998</td>
            <td>24-04-1998</td>

          </tr>
          <tr >
            <td>3</td>
            <td>Marathi</td>
            <td>3-09-2001</td>
            <td>12-04-2001</td>

          </tr>
        </tbody>
      </table>

  </table>
