
<div class="container">
    <h1 class="mb-5 text-center">Update Librarian Details</h1>
    <form [formGroup]="updatelibForm" (ngSubmit)="UpdatelibSubmit($event)" >
     
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="first name"
          formControlName="firstname"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="last name"
          formControlName="lastname"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="email address"
          formControlName="email"
        />
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    
</div>