
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add Books</h3>
            <form [formGroup]="addbookForm" (ngSubmit)="addbookSubmit($event)">
             
            <div class="col-md-6 mb-4">
 
              <div class="form-group">
               <div>
                <label class="form-label" for="booknumber">Book number</label>
              </div>
              <input type="number" id="booknumber" formControlName="booknumber" />
              </div>
            
              </div>

              <div class="col-md-6 mb-4">
 
                <div class="form-group">
                  <div>
                  <label class="form-label" for="bookname">Book name</label>
                </div>
                  <input type="text" id="bookname" formControlName="bookname" />
                </div>
                </div>

                <div class="col-md-6 mb-4">
 
                  <div class="form-group">
                  <div>
                    <label class="form-label" for="author">Author</label>
                  </div>
                    <input type="text" id="author" formControlName="author" />
                  </div>
                  </div>

                  <div class="col-md-6 mb-4">
 
                    <div class="form-group">
                    <div>
                      <label class="form-label" for="subject">Subject</label>
                    </div>
                      <input type="text" id="subject" formControlName="subject" />
                    </div>
                    </div>
                    <div class="mt-4 pt-2">
                      <input class="btn btn-primary btn-lg" type="submit" value="Add" />
                    </div>
     

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
