<h1>User Norms</h1>
<br>
<table class="table table-success table-striped">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Do's</th>
            <th scope="col">Dont's</th>
           
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>Books should be returned within 15 days</td>
            <td>books should not be damaged</td>
          </tr>
          <tr >
            <td>Books should be kept at their proper places</td>
            <td>books should not be placed randomly</td>
          </tr>
          <tr >
            <td>maintain silence in the library</td>
            <td>no loud talks in the library</td>
          </tr>
        </tbody>
      </table>

  </table>
